!!!
%html
%head
  %title Organizador
  %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
  = csrf_meta_tags
  = csp_meta_tag
  = stylesheet_link_tag "application", "data-turbo-track": "reload"
  = javascript_importmap_tags
%body.bg-dark.text-white
.container.mt-4.pb-4
  .main-flash-messages
    = render 'layouts/messages'
  .w-25.m-auto
    = yield
